.edition-details-container {
    width: 70vw;
    margin: auto;
}

.edition-logo {
    height: auto;
    max-width: 50vw;
    max-height: 50vh;
    object-fit: contain;
    flex: 1
}

.edition-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.catalog-logo {
    height: auto;
    max-width: 25vw;
    max-height: 25vh;
    object-fit: contain;
}

.catalog-logo-container {
    cursor: pointer;
}

.edition-collections-container {
    margin-bottom: 5rem;
}

.edition-collections-container > .aster-button {
    margin-right: 5rem;
    margin-left: 5rem;
    width: 12rem;
    height: 12rem
}

.edition-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}