.aster-button {
  background-color:rgb(230, 230, 230);
  display: inline-block;
  width: 18rem;
  align-content: center;
  padding: 1rem;
  border: none;
  outline: none;
  justify-self: center;
  transition: transform 0.05s ease-in-out;
}

.aster-button:disabled {
  background-color: rgb(200, 200, 200);
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.aster-button:active {
  transform: scale(1.01, 1.01);
}

.aster-button:hover {
  background-color: rgb(200, 200, 200);
}

.aster-button > * {
  color: black;
  font-size: larger;
}