.modal {
  z-index: 999;
  inset: 0;
  backdrop-filter: blur(6px);
  position: fixed;
  align-content: flex-start;
  transition: backdrop-filter 0.3s ease;
}

.modal dialog {
  width: 40rem;
  border: 1px solid var(--aster-light-gray);
  border-radius: 5px;
  margin-top: 20vh;
  padding-inline: 2rem;
}
