.carousel-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--aster-gray);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.carousel-container.small {
  width: 50vw;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  transition: transform 0.5s ease-in-out;
  overflow: visible;
}

.carousel.animating.left {
  transform: translateX(34vw);
}

.carousel.animating.left.small {
  transform: translateX(25vw);
}

.carousel.animating.right {
  transform: translateX(-34vw);
}

.carousel.animating.right.small {
  transform: translateX(-25vw);
}

.carousel:not(.animating) {
  transition: none;
  transform: translateX(0);
}

.image-container {
  min-width: 34vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  overflow: hidden;
}

.image-container.small {
  min-width: 25vw;
}

.carousel-button {
  position: absolute;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  color: var(--aster-dark-gray);
}

.carousel-button.right {
  right: 0;
}

.carousel-button.right.small {
  right: 26vw;
}

.carousel-button.left {
  left: 0;
  transform: scale(-1, 1);
}

.carousel-button.left.small {
  left: 26vw;
  transform: scale(-1, 1);
}

.carousel-button.right:hover {
  transform: scale(1.1, 1.1);
}

.carousel-button.right:active {
  transform: scale(0.95, 0.95);
}

.carousel-button.left:hover {
  transform: scale(-1.1, 1.1);
}

.carousel-button.left:active {
  transform: scale(-0.95, 0.95);
}
