.table {
  border: 1px solid var(--aster-mid-gray);
  border-radius: 1rem;
  width: 85vw;
  margin: auto;
}

.table-row {
  border-bottom: 1px solid var(--aster-mid-gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.table-row > * {
  flex: 1;
  min-width: 0;
  min-height: 3rem;
  align-content: center;
  text-align: start;
  padding: 0 1rem;
}

.table > *:first-child * {
  text-align: center;
  margin: 0;
}

.table > * > * {
  border-left: 1px solid var(--aster-mid-gray);
}

.table > * > *:first-child {
  border-left: none;
}

.table > *:last-child {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seed-creation-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.seed-creation-form > * {
  width: 100%;
  align-items: start;
}

.seed-creation-form .multiple-select {
  width: 100%;
  display: block;
}
