.participant-list-button {
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}

.participant-list-button:hover:not(:disabled) {
  background-color: var(--aster-gray);
}

.participant-list-button:disabled {
  color: var(--aster-mid-gray);
  cursor: default;
}

.participant-list-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}

.participant-list-container {
  display: grid;
  gap: 1rem;
  width: auto;
  justify-content: center;
}

.participant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.participant-container p {
  margin-block: 0.25rem 0;
  width: 100%;
  word-break: break-word;
  padding-inline: 0.25rem;
  margin-bottom: 0.5rem;
}
