.items-container, .roles-container {
    display: flex;
}

.roles-container {
    margin-top: 2vh;
}

.items-container > *, .roles-container > * {
    flex: 1;
}

.roles-container > :first-child {
    margin-left: 15vw;
}

.roles-container > :last-child {
    margin-right: 15vw;
}

.participant-home h2 {
    margin: 0;
}