.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.register-form .input-box-container > * {
  width: 24vw;
}

.register-form > .aster-button {
  margin-top: 2.5rem;
}

.sign-up-icon-button {
  background: none;
  border: 0.1em solid var(--aster-dark-gray);
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sign-up-icon-button:focus,
.sign-up-icon-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--button-select-focus);
}

.sign-up-icon {
  width: 3.5em;
  height: 3.5em;
}
