#navbar,
#footer {
    outline: solid;
    outline-color: black;
    outline-width: 1px;
    width: 96vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

#footer {
    width: 100vw;
    margin-top: 5vh;
    height: 20rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: relative;
}

#footer p {
    text-align: start;
    margin: 0;
    font-size: small;
}

.footer-text-container {
    height: 100%;
    margin-left: 5vw;
    margin-right: 5vw;
}

#footer .social-networks {
    position: absolute;
    right: 7vw;
    bottom: 5vh;
}

#navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar>* {
    flex: 5;
}

.left-button-container,
.right-button-container {
  display: flex;
}

.right-button-container {
  justify-content: flex-end;
}

.left-button-container>*,
.right-button-container>* {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.collections-container {
    display: flex;
    justify-items: center;
    position: relative;
}

.collections-dropdown {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    top: 1.75rem;
    left: -0.25rem;
    border: 0.1rem solid rgb(100, 100, 100);
    border-radius: 0.5rem;
    width: 7rem;
}

.collections-dropdown > * {
    padding: 0.5rem;
    text-align: start;
    border-bottom: 0.1rem solid rgb(100, 100, 100);
}

.collections-dropdown > *:last-child {
    border-bottom: none;
}
