.participant-icons-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.participant-checkbox {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.participant-card-children {
  margin-top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
