.carousel-container {
    display: flex;
    align-items: center;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    position: relative;
    transition: transform 0.5s ease-in-out; 
    overflow: visible;
}

.carousel.animating.right {
    transform: translateX(40vw);
}

.carousel.animating.left {
    transform: translateX(-40vw);
}

.carousel:not(.animating) {
    transition: none;
    transform: translateX(0);
}

.image-container {
    width: 40vw;
}

.carousel-image {
    object-fit: cover;
    width: 40vw;
    height: 40vh;
    user-select: none;
    cursor: pointer;
}

.carousel-button {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Adds smooth transition */
}

.carousel-button.right {
    right: 1vw;
}

.carousel-button.left {
    left: 1vw;
    transform: scale(-1, 1);
}

.carousel-button.right:hover {
    transform: scale(1.1, 1.1)
}

.carousel-button.left:hover {
    transform: scale(-1.1, 1.1)
}