:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#navbar, #footer {
  outline: solid;
  outline-color: black;
  outline-width: 1px;
  width: 96vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

#footer {
  width: 100vw;
  margin-top: 5vh;
  height: 40vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
}

#footer p {
  text-align: start;
  margin: 0;
  font-size: small;
}

.footer-text-container {
  height: 100%;
  margin-left: 5vw;
  margin-right: 5vw;
}

#footer .social-networks {
  position: absolute;
  right: 7vw;
  bottom: 5vh;
}

#navbar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#content {
  flex: 1;
  padding: 2vh;
}

#navbar > * {
  flex: 1;
}

.left-button-container, .right-button-container {
  display: flex;
}

.right-button-container {
  justify-content: flex-end;
}

.left-button-container > *, .right-button-container > * {
  margin-left: 1vw;
  margin-right: 1vw;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 90vw;               
  background-color: black;
  height: 1px;
  margin-top: 4vh;
}