.diagram-container {
  width: 45vw;
  height: 75vh;
  border: 1px solid black;
  margin: 1rem auto;
  border: solid 1px rgba(191, 191, 191, 255);
  border-radius: 1rem;
}

.create-node-button {
  margin: 0.5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-node-buttons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
