.diagram-container {
    width: 45vw;
    height: 75vh;
    border: 1px solid black;
    margin-top: 1rem
}

.create-node-button {
    margin: 0 1rem;
    max-width: 20rem;
    min-width: 15rem;
    width: auto;
}

.create-node-buttons-container {
    display: flex;
    justify-content: center;
}