.format-container {
  width: fit-content;
  margin-inline: auto;
}

.format-container > h2,
.format-container > h3 {
  text-align: start;
}

.text-image-container {
  display: flex;
  align-items: center;
}
