.participant-icon {
  width: 4vw;
  height: 4vw;
  margin: 0 1rem 0.5rem 1rem;
  padding: 0.6rem;
  outline: 1.5px solid #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.groups-container {
  display: flex;
  width: 92vw;
  justify-content: space-evenly;
  padding: 1.5vw 4vw;
  align-items: center;
}

.rating-card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
